<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>To view your custom field, login or sign up</p>
    <br />
    <a href="/login" class="upbtn">Log In</a>
    <a href="/signup" class="upbtn">Sign up</a>
  </body>
</html>
